<div>
    <span>这就是一个方块</span>
    <script>
        function init(){
            var renderer,scene,camera,
                    cube;

            renderer = new THREE.WebGLRenderer({ //定义渲染区域
                canvas: document.getElementById('main')
            });

            renderer.setClearColor(0xffff00); //设置定义区域颜色

            scene = new THREE.Scene(); //创建场景

            /**
             * 定义照相机，这个是常变的
             *
             */
            camera = new THREE.PerspectiveCamera(100, 4/3, 1, 100);
            camera.position.set(20, 20, 50);
            camera.lookAt(new THREE.Vector3(0, 0, 0));

            scene.add(camera); //添加照相机到场景中

            cube = new THREE.Mesh(new THREE.TorusKnotGeometry(10,2)

            );

            scene.add(cube);

            // render
            renderer.render(scene, camera);
        }
        init();
    </script>
</div>